header {
	position: relative;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
	transition: 0.5s;
}

.increase-header-bottom-margin {
	margin-bottom: 60px;
}

.header-input {
	overflow: hidden;
	display: flex;
	width: 100%;
	position: absolute;
	top: 60px;
	justify-content: space-around;
	background-color: rgb(250, 250, 250);
	height: 0;
	align-items: center;
	transition: 0.5s;
	border-radius: 5px;
}

.header-input-show {
	height: 50px;
}

.header-input-search-button,
.header-input-cancle-search {
	border-radius: 5px;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: gainsboro;
}

.header-input input {
	height: 90%;
	width: 70%;
	border: none;
	background-color: gainsboro;
	border-radius: 5px;
	text-align: center;
	font-size: 1rem;
}

.header-input input:active,
input:focus {
	outline: none;
}

.header-search-icon {
	height: 24px;
	width: 24px;
	margin-right: 15px;
	position: relative;
	top: 2px;
}

.hide-header-search-icon {
	display: none;
}

#logo {
	font-size: 1.7rem;
	margin-left: 20px;
}

/* header {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgb(196, 195, 195);
} */

/* #logo {
	display: inline-block;
} */

/* #logo > span {
	font-size: 2rem;
	margin-left: 10px;
} */

/* #header-search {
	display: inline-block;
	margin-right: 10px;
} */

/* #header-search > input {
	height: 1.5rem;
	border: 1px solid rgb(196, 195, 195);
	border-radius: 3px;
} */

/* 480px */
/* @media only screen and (min-width: 480px) {
	header {
		height: 60px;
	}

	#logo > span {
		font-size: 2.1rem;
		margin-left: 15px;
	}
} */

/* 768px */
/* @media only screen and (min-width: 1024px) {
	header {
		height: 60px;
	}

	#logo > span {
		font-size: 2.2rem;
		margin-left: 20px;
	}
} */

/* @media only screen and (min-width: 1280px) {
	header {
		height: 80px;
	}

	#logo > span {
		font-size: 2.5rem;
		margin-left: 30px;
	}

	.header-search {
		margin-right: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		
		padding: 5px;
		border-radius: 5px;
		background-color: #f5f5f6;
	}
	.header-search input {
		outline: none;
		border: none;
		font-size: 1.2rem;
		background-color: #f5f5f6;
	}
	.header-search input::placeholder {
		color: black;
		opacity: 0.3;
	}
	.header-search svg {
		width: 30px;
		height: 30px;
	}
} */
